@mixin btn($bg,$txt) {
  display: inline-block;
  background: $bg;
  color:$txt;
	text-decoration:none;
	padding: 10px 15px;
	border: 1px solid $txt;
	border-radius:60px;
  margin: 4px 0;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}
