body { background: #08111d url('../i/dusk-bg.jpg') no-repeat center top; font-family: Helvetica, sans-serif; font-size: 80%; color: #d80056; }

.logo { width: 206px; margin: 150px auto 20px; text-align: center; }